/* COLORES UTILIZADOS
VERDE:#8DC63F;
VERDE MEDIO: #7DB135;
VERDE CLARO:#AED676;
MORADO:#66038F;
MORADO MEDIO: #AE3FC6;
MORADO CLARO:#E5C4EE;
MORADO CASI BLANCO:#f6ebf9;
*/
html,body {
	height: 100%;
}
h4{
	color:#8DC63F;
}
h2, h3, h4{
	font-family: 'Kreon', serif;
}

#pagina{
  height: 100vh;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100vh;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

.aniversario{
	font-family: 'Frijole', cursive;
	color: white;
	text-align:center;
	font-size: 1.8em;
/* 	background-color: #8DC63F; */
	background-color:#66038F; /*morado*/
}
h2{
	color:#AE3FC6;
}
/* cambiar el color de fondo a la barra */
nav.navbar {
  background-color: #8DC63F; /*^Verde pistacho*/
  border-color: #8DC63F;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#66038F; /*morado*/
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color:#66038F;
}

li.active>a{
	background-color:#7db135;
}
.dropdown-menu {
	background-color: #aed676; /*verde claro*/
}
.dropdown-menu  > li > a{
	color:#66038F; /*morado*/
}

#push, #footer {
  height: 60px;
}
#footer {
  background-color: #8DC63F;
  color:#66038F;
 }
.carousel-caption>h1{
	color: #8DC63F;
}
.carousel-indicators .active{
	background-color: #8DC63F;
}
.breadcrumb > li >a{
	color:#66038F ;
}
.thumbnail{
	border-color:#8DC63F;
}
.thumbnail>div.caption{
	text-align: justify;
}
.thumbnail>div.caption>h3{
	color:#8DC63F;
	text-align: center;
}
.text-primary{
	color:#8DC63F;/*verde*/
}
#myTab>li>a {
	color:#8DC63F ;
}
#myTab>li>a:hover {
	color:#AE3FC6;
	background-color:#e5c4ee ;
}
#img-fachada{
	background-color:#e5c4ee;
	border-color: #e5c4ee;
}
.breadcrumb{
	background-color:#f6ebf9;
}